export LLM_SERVICE_PROVIDER="google"
GOOGLE_API_KEY="YOUR_API_KEY_TOKEN_HERE"
export MODEL="gemini-1.5-flash""
export GOOGLE_API_KEY="YOUR_API_KEY_TOKEN_HERE"
export WEATHER_API_KEY="YOUR_API_KEY_TOKEN)_HERE"
